*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.two-columns{
    display: flex;
}

.two-columns .col{
    background-color: green;
}

.theree-columns{
    display: flex;
    justify-content: space-between;
}
.theree-columns .col{
    background-color: yellowgreen;
}
